#site-header {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

#site-brand {

    $diam: 40px; // circle diameter
    $speed: 0.1s; // speed of hover effect

    position: absolute;
    left: -90px;
    top: -5px;
    display: inline-block;
    width: $diam;
    height: $diam;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }

    &:before {
        font-family: 'FontAwesome';
        content: '\f015';
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        line-height: $diam;
        text-align: center;
        color: #fff;
        font-size: 20px;
        opacity: 0;
        transition: opacity ($speed + 0.2) ease-in-out 0s;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        background: $accent;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity ($speed + 0.1s) ease-in-out;
    }

    &:hover {
        &:before {
            opacity: 1;
            transition-delay: $speed;
        }
        &:after {
            opacity: 0.8;
        }
    }
}

#site-nav {
    flex: 1;
  //  text-align: right;
    a {
   //     font-family: 'Proxima Nova', sans-serif;
        display: inline-block;
        position: relative;
        color: $gray-light;
        font-weight: bold;
        font-size: 20px;
        margin-right: 30px;
        text-decoration: none;
        line-height: 1.4;

        &:last-child {
            margin-right: 0;
        }

        &.active, &.active:hover {
            color: $primary;
        }

        &:hover {
            color: $gray-dark;
        }
    }
}
