#projects {

    .project {
        padding-bottom: 10px;
        .project-media {
            max-width: 100%;
            border-radius: 4px;
            border: 1px solid $border-color;
            margin-bottom: 10px;
        }

        &:first-of-type h2 {
            margin-top: 30px;
        }
    }

    .meta {
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
    }

    .details {
        font-size: 75%;
        color: $gray-light;
    }

    .tech {
        background: whitesmoke;
        padding: 2px 4px;
        border-radius: 2px;
        border: 1px solid #eee;
        font-size: 80%;
        font-weight: bold;
        color: $gray-light;
        &:last-child {
            margin-right: 0;
        }
    }
}
