@import 'skeleton/skeleton';
@import 'fonts';
@import 'variables';

@import 'header';

// TODO:
// - single icon instead of Ionicons?
// - formal Proxima Nova
// - clean up SASS

body {
    padding: 70px 40px;
    background: #fff;
    font-size: 18px;
    color: #333;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

a {
    position: relative;
    color: $primary;
    text-decoration: none;
    transition: color 0.15s ease-out;
    &:hover, &.active {
        color: $primary;
    }

    &:not(.no-effect) {

        &:after {
            background-color: $primary;
            bottom: 0;
            content: '';
            height: 1px;
            left: 45%;
            position: absolute;
            transition-duration: .15s;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            visibility: hidden;
            width: 0;
        }

        &:hover, &.active {
            &:after {
                left: 0;
                visibility: visible;
                width: 100%;
            }
        }
    }
}

hr {
    width: 120px;
    border-top-color: whitesmoke;
    margin-top: 60px;
    margin-bottom: 60px;
}

h1 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 4rem;
}

h2 {
    font-size: 28px;
    letter-spacing: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

.container {
    width: 500px;
}

#site-wrapper {
    > header, > section, > footer {

    }

    > header {
    //    padding-top: 70px;
        display: flex;
        align-items: center;
    //    padding-bottom: 70px;
    }

    > footer {
    //    padding: 70px 0;
        color: $gray-light;
        font-size: 14px;
        text-align: center;
        p {
            margin-bottom: 6px;
            a[class*='ion-'] {
                display: inline-block;
                vertical-align: middle;
                font-size: 20px;
                margin: 0 2px;
            }
        }
    }
}


