@import 'skeleton/skeleton';
@import 'variables';
@import 'about';
@import 'books';
@import 'projects';

@import 'header';

// TODO:
// - single icon instead of Ionicons?
// - formal Proxima Nova
// - clean up SASS

body {
 //   padding: 70px 40px;
 //   background: #fff;
    font-size: 18px;
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    line-height: 1.7;
}

ul {
    list-style-type: disc;
    background: whitesmoke;
    padding: 20px;
}

li {
    margin-bottom: 0;
    font-size: 15px;
}

a {
    position: relative;
    color: $primary;
    text-decoration: none;
    transition: color $transition-duration ease-out;
  //  font-weight: bold;
    &:hover, &.active {
        color: $primary;
    }

    &:not(.no-effect) {

        &:after {
            background-color: $primary;
            bottom: 0;
            content: '';
            height: 1px;
            left: 45%;
            position: absolute;
            transition-duration: $transition-duration;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            visibility: hidden;
            width: 0;
        }

        &:hover, &.active {
            &:after {
                left: 0;
                visibility: visible;
                width: 100%;
            }
        }
    }
}

h1 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

h2 {
    font-size: 24px;
    margin-bottom: 2rem;
    margin-top: 5rem;
    font-weight: 600;

    small {
        color: $gray-light;
    }
}

p {
    margin-bottom: 20px;
}

.opening {
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 30px;
}

blockquote {
    padding-left: 20px;
    border-left: 8px solid whitesmoke;
    margin: 0;
}

.container {
    width: 800px;
}

#page-content {
    padding: 20px 80px 0;
}

#site-wrapper {
    > header, > section, > footer {

    }

    > header {
    //    padding-top: 70px;
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
    }
}

body {
    position: relative;
    background: $gray-bg;
}

#content-wrapper {
    background: #fff;
    padding: 70px 40px;
}

footer {
    border-top: 1px solid $border-color;
    color: $gray;
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 30px 0 20px;
    p {
        margin-bottom: 10px;
        a[class*='fa'] {
            color: $gray-light;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
            &:hover {
                color: $primary;
            }
        }
    }
}

.shadow {
    box-shadow: 0 0 0 1px rgba(39,44,48,0.05), 0 2px 7px 1px rgba(39,44,48,0.16);
}
